<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		
		<link rel="shortcut icon"type="image/x-icon" href="img/stop.jpg" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/play-view.css"/>
		<link rel="stylesheet" type="text/css" href="css/album.css"/>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/pages.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="content">
			<div class="blur">
				
			</div>
			<div id="header">
			
				<ul>
						<div id="back">
					       HOME
				         </div>
					<li class="header-li"><a onclick="$('#bar').css('left','15%');" href="#">播放页面</a></li>
					<li class="header-li"><a onclick="$('#bar').css('left','36%');" href="#">音乐列表</a></li>
					<li class="header-li"><a onclick="$('#bar').css('left','57%');" href="#">音乐专辑</a></li>
					<li class="header-li"><a onclick="$('#bar').css('left','78%');" href="#">原创MV</a></li>
				</ul>
				<div id="bar">
					
				</div>
			</div>
			<div id="main">
				       
                     <div class="pages">
                        	<div id="bgr-packge">
                        	
                            </div>
                        
                        
			                 <div id="lyrics">
			                      <ul>
			                      	<li>Inside tnes, insidnes</li>
			                      	<li>Inside the lines, in</li>
			                      	<li>Inside the lines, ins</li>
			                      	<li>Inside the lines, insides the lines</li>
			                      	<li>Inside the lines, insides the lines</li>
			                      	<li>Inside the lines, inside lines</li>
			                      	<li>Inside the lines, insides the lines</li>
			                      	<li class="birght-ly">Insid the lines</li>
			                      	<li>Inside the lines, inss the lines</li>
			                      	<li>Inside the linelines</li>
			                      	<li>Inside the lines, insides the lines</li>
			                      	<li>Inside the lines, insides the lines</li>
			                      	<li>Inside the linlines</li>
			                      	<li>Inside the lines, insides the lines</li>
			                      	<li>Inside the line the lines</li>
			                      	<li>Inside the line the lines</li>
			                      	<li>Inside the line the lines</li>
			                      	<li>Inside the line the lines</li>
			                      		<li>Inside the line the lines</li>
			                      </ul>
			                 </div>
                      </div>
                        	<!--
                            	作者：1828035332@qq.com
                            	时间：2018-08-24
                            	描述：播放器界面
                            -->
				
			 <div class="pages">
			
				<div id="main-title">
					<div class="order">
						
					</div>
						<div class="song">
						歌曲
					</div>
						<div class="singer">
						歌手
					</div>
			
				</div>
				 	<div id="music-list">
						<ul>
									<li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li>
								<li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li><li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li><li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li><li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li><li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li><li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li><li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li><li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li><li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li>
								<li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li>
								<li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li>
								<li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li><li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li>
								<li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li>
								<li><div class="order">
									1
								</div>
									<div class="song">
									有何不可		
								</div>
									<div class="singer">
									许嵩
								</div></li>
					
                        
						</ul>
						</div>
						 	
			 </div>
							<!--
                        	作者：1828035332@qq.com
                        	时间：2018-08-23
                        	描述：以上是index.html页面的内容；
                        -->
                        
                 
                     <div class="pages">      
	                   	  <div id="albums">
	                        	<div class="album">
	                        		
	                        	</div>	
	                        	<div class="album">
	                        		
	                        	</div>	
	                        	<div class="album">
	                        		
	                        	</div>	
	                        	<div class="album">
	                        		
	                        	</div>	
	                        	<div class="album">
	                        		
	                        	</div>	
	                        	<div class="album">
	                        		
	                        	</div>	
                        </div>
                      </div>
                        	
			     </div>
			     <div id="footer">
			     	<div id="audio-control">
			     	
			     	     <div class="audio-control">
			     	     	<canvas id="lastM" width="100px" height="100px">
			                                                                      您的浏览器不支持canvas
		                       </canvas>
			     	     </div>
			     	     <div class="audio-control">
			     	     		<canvas id="canvas" width="100px" height="100px">
			                                                                      您的浏览器不支持canvas
		                       </canvas>
			     	     </div>
			     	       <div class="audio-control">
			     	     		<canvas id="nextM" width="100px" height="100px">
			                                                                      您的浏览器不支持canvas
		                       </canvas>
			     	     </div>	
			     	     
			     	</div>
						<div id="audio-player">
			                 <audio id="player" src="http://music.163.com/song/media/outer/url?id=418279697.mp3"></audio>
							<div id="play-white">
								
							</div>
							<div id="play-point">
								
							</div>
							<div id="play-gray">
								
		 					</div>
		               </div>
		         
				</div>
		</div>

	
		<script src="js/canvas.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
